$font-family-base: 'Segoe UI', sans-serif;
$background-main:#e6ecf0;








body {
  font-family: $font-family-base;
  background: $background-main;
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
}




